nav .active{
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text{
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.main-btn{
    border-radius: 8px;
background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
padding: 19px 28px;
font-size: 20px;
color: #FFF;
}
